/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Stylizacja ciała dokumentu */
body {
    background-color: white; /* Białe tło */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Stylizacja kontenera formularza */
.container {
    background-color: #D2B48C; /* Jasny beżowy */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
}

/* Stylizacja nagłówka */
header {
    font-size: 24px;
    font-weight: bold;
    color: white; /* Biały kolor */
    margin-bottom: 20px;
    text-align: center;
}

/* Stylizacja pól formularza */
.field {
    margin-bottom: 15px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D2B48C; /* Kolor piaskowy */
    border-radius: 5px;
    background-color: #d8cdc2; /* Beżowy */
}

.field input:focus {
    border-color: #ad9379; /* Kolor brązowy */
    outline: none;
}

/* Stylizacja przycisków */
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8B4513; /* Kolor brązowy */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #A0522D; /* Ciemniejszy brązowy */
}

/* Stylizacja linków */
.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: white; /* Biały kolor */
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Stylizacja wiadomości błędu */
.message {
    background-color: #FFCCCB; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.messageCorrect {
    background-color: #d1f8b6; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
